.editScreen__goBack{
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 13px;
}

.editScreen__goBack>i{
    color: $blue;
}

.editScreen__goBack{
    cursor: pointer;
}

.editScreen__plus{
    display: inline;
    border-radius: 50px;
    padding: 7px 20px ;
    line-height: 2;
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(210deg, #c141be, #676ef1);
    position: relative;
    bottom: -30px;
    left: 35px;
}

.editScreen__form{
    background-color: $text_white;
    border-radius: 10px;
    padding: 25px;
}

.editScreen__formFlex{
    display: flex;
    flex-direction: column;
}

.editScreen__form>form>h2{
    padding: 20px 0;
    font-size: 130%;
}

.editScreen__form>form>input,select,textarea{
    margin: 20px 0;
    background-color: $light-bg;
    border: solid 0;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    &::placeholder{
        color: black;
    }
}


.editScreen__form>form>textarea{
    resize: none;
}

.editScreen__empty{
    color: red;
    font-size: 80%;
}

.editScreen_buttons{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.editScreen_buttons>.btn-red{
    justify-self: flex-start;
}