.feedbackScreen__main>header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.feedbackScreen__comments{
    background-color: $text_white;
    border-radius: 10px;
    padding: 22px;
    margin: 20px 0;
}

.feedbackScreen__addComment{
    background-color: $text_white;
    border-radius: 10px;
    padding: 22px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.textarea{
    display: inline-block;
    resize: none;
}

.feedbackScreen__addComment-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    p{
        font-size: 80%;
    }
}
